/***********************************************************
 * Generated CAN Code File for Node
 ***********************************************************
 * Node: {{ nodeName }}
 * Network Version: {{ networkVersion }}
 *
 ***********************************************************
 * 
 **********************************************************/

#include "{{nodeName}}_Param_{{nodeController}}.h"

